/*public*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

:root{
    --mainColor:#52575d;
    --secColor:#ffb423;
    --mainFont: 'Orbitron', sans-serif;
    --secfont:'Quicksand', sans-serif;
}
.container{
    width: 85%;
    margin: auto;
}
/*navbar*/
.navbar{
    width: 100%;
    overflow: auto;
    font-family: var(--mainFont);
    font-weight:400;
    position: fixed;
}
.logo{
    color: var(--secColor);
    float: left;
    width: 50%;
    font-size: 10px;
    display: inline-block;
    font-family:var(--mainFont);
}
.title{
    display: inline;
    font-size: 20px;
    text-transform: uppercase;
}
.nav{
    float: left;
    width: 50%;
    margin-right: 0;
    text-align: right;
    font-size: 20px;
    padding-top: 20px;
}
.list .list_items{
    list-style-type: none;
    display: inline-block;
}
.link-nav{
    text-decoration: none;
    color: var(--secColor);
    text-transform: capitalize;
    margin-left: 25px;
    font-weight: 300;
}
@media(max-width:768px){
    .nav,.logo{
      width: 100%;
      text-align: center;
    }
    .logo{
        padding-bottom: 0;
        font-size: 15px;
    }
    .nav{
        font-size: 15px;
    }
}
/*header*/
.header_content{
    background-image: url("../img/3333.jpg");
    height: 100vh;
    background-size: cover;
}
.header-content-items{
    padding-top: 200px;
    text-align: center;
}
.header-content-items h1{
    color: white;
    font-family: var(--secfont);
    text-transform: uppercase;
    font-size: 35px;
    width: 50%;
    margin: auto;
}
.header-content-items p{
    color: white;
    font-family: var(--secfont);
    width: 60%;
    margin: auto;
}
.line{
    background-color: #ffb423;
    height: 5px;
    width: 100px;
    display:block;
    margin: 20px auto;
}
.link{
    text-decoration: none;
    color: #52575d;
    background-color: #ffb423;
    display: block;
    margin:30px auto;
    width: fit-content;
    padding: 20px 50px ;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 300;
}
@media(max-width:768px){
    .header_content{
        background-image: url(../img/7.png);
    }
    .header-content-items h1{
        font-size: 30px;
        width: 100%;
    }
    .header-content-items p{
        width: 100%;
        font-size: 20px;
    }
}
.part2 .container{
    width: 90%;
}
.part2{
    background-color: var(--mainColor);
    padding-top: 45px;
    text-align: center;
   height: 400px;
    font-family: var(--secfont);
    font-size: 25px;
    color: rgb(160, 157, 157);
}
.about{
    width:30%;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}
@media(max-width:768px){
    .part2{
        height: 900px;
    }
    .about{
        width: 100%;
    }
}
.part3{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
    font-family: var(--secfont);
}
.part3-items{
    padding-left: 40px;
    font-size: 20px;
    font-family: var(--secfont);
}
.part3-items .container{
    width: 85%;
    margin: auto;
}
.services{
    width: 30%;
    display: inline-block;
    font-size: 20px;
    font-family: var(--secfont);
}
.part3 h2{
    font-size: 25px;
}
.fa-solid ,.fa-regular{
    color: var(--secColor);
    font-size: 50px;
}
@media(max-width:768px){
    .services{
        width: 100%;
        text-align: center;
        padding-top:25px ;
        padding-right: 30px;
    }
}
/* portifolio*/
.part4-con{
display: inline-flex;
text-align: center;
font-family: var(--secfont);
width: 100%;
align-items: center;
}
.part4-img img{ 
margin: 20px ;
width: 525px;
border-radius: 25px;
}
.part4-txt{
    width: 45%;
    text-transform: uppercase;
}
@media(max-width:768px){
    .part4-con{
        display: block;
        margin: 25px -15px;
    }
    .part4-img img{
        height: auto;
        width: 100%;
    }
    .part4-txt{
        width: 100%;
        margin:15px;
    }
}
.part5{
    height: 450px;
    background-color: var(--mainColor);
    text-align: center;
    font-family: var(--secfont);
    margin: auto;
    align-items: center;
    font-size: 20px;
    }
.part5-items{
    padding-top: 100px;
}
.input{
    height:35px;
    width: 30%;
    background-color: #8c8e91;
    border-radius: 10px;
}
.fa-brands{
    color: gray;
    padding-left: 20px;
    cursor: pointer;
}
@media(max-width:768px){
    .input{
        width: 70%;
    }
    .part5 p{
        margin-top: 20px;
    }
}